* {
	padding: 0; 
	margin: 0px;
	box-sizing: border-box; 
} 
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0; 
    background-color: #009ad8;
	background-attachment: fixed;
}

#img{
	display: inline-block;
	float: left;
}

/*botón cerrar*/
.block{
	text-align: center;
	padding-top: 5px;
	background-color: #ffa532;
	width: 200px;
	height: 40px;
	border-radius: 10px;
	cursor: pointer;
}

b {color: black;}

/*position*/
#cerrar{
	display: inline-block;
	margin-top: 100px;
	float: right;
	margin-right: 20px;
}

b {
	color: black; 
}

/*color botones*/
.bloque{
	text-align: center;
	padding-top: 5px;
	background-color: #ffa532;
	width: 200px;
	height: 40px;
	border-radius: 10px;
	cursor: pointer;
}


.btn{
	color: black;
	font-size: 20px;
}

a{
	height:10px;
}


#inventario{
	float: left;
	text-align: center;
	background-color: #ffa532;
	padding-top: 5px;
	width: 150px;
	height: 40px;
	margin-left: 20px;
	border-radius: 10px;s
	display: inline-block;
	margin-top: 170px;
	margin-left: 400px;

}